/*reset generales*/
*{
box-sizing: border-box;
}
ul,ol{
  padding: 0;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #000;
}


.form-check, .btn-formulario{
    margin-left: 20px;
}

.container{
  background-color:rgba(115, 230, 96, 0.49);
  padding: 6% 10%;
}
h2{
  margin-bottom: 20px;
}
