*{
box-sizing: border-box;
}
ul,ol{
  padding: 0;
}
li{
  list-style-type: none;
}
a{
  color: #000;
  text-decoration: none;
}
p{
  font-size: 20px
}
.list{
  padding: 5px;
  margin-top: 20px;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}
.product-container{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px
}
.product-logo{
  border: 2px solid grey;
  margin-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px
}
.teclados{
  border-top: 2px solid grey;
  margin-top: 40px;
  padding-top: 40px;
}
