*{ box-sizing: border-box; }

ul, ol { padding: 0; }

li { list-style-type: none; }

a {text-decoration: none, color: #000;}
body{
  font-size: 18px;


}
.container{
  width:720px;
  margin: 0 auto;
  text-align: center;
  background-color: grey
}
.navbar{
  padding: 20px;
  background-color: black;
  margin-bottom: 10px;
}
.carro{
border-bottom: 2px solid black;
padding-bottom: 15px;
}
.articulos{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.titulo-articulos{
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin-top: 15px;
}
.text-articulos{
  font-size: 18px;
  text-align: left;
  margin-top: 5px;
}
.card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.cards{
  border-top: 2px solid black;
  padding-top: 20px;
}
.cards-dos{
  margin-top: 10px;
}
