.container{
  background-color: rgb(230, 44, 224);
  padding: 15px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  height: 400px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-check, .btn-formulario{
    margin-left: 20px;
}
.form{
  margin:auto 0;
}
